body {
  background-color: #004C86;
  -webkit-user-select: none;
  cursor: default;
  overflow-y: hidden;
  overflow-x: hidden;
  font: 10px arial, sans-serif;
  color: white;
  padding: 0px;
  margin: 0px;
}

#drop {
  border: 4px dashed #22805C;
  margin: 0 auto;
  height: 90%;
  width: 90%;
}

#drop.hover {
  border: 4px dashed #00A44E;
}

#editor-preview {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview-wrapper {
  max-width: 50%;
}

#editor-sidebar {
    width: 200px;
    min-width: 3px;
    max-width: 50%;
    float: left;
    white-space: nowrap;
    overflow-x: hidden;
}

#editor-dragbar {
    background-color:black;
    height:100%;
    float: right;
    width: 3px;
    cursor: col-resize;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  font-size: 4em !important;
}
